<%= render "shared/second_header" %>

<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
  <div class='form-wrap-sign-up'>
    <%= render 'shared/form_header' %>
    <div class="form-all">
      <div class="gray-bar">
        <h1 class="gray-bar-text">お客様情報</h1>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text-indispensable">ニックネーム</label>
        </div>
        <%= f.text_field :nickname, class:"input-default", id:"nickname", placeholder:"例) book好男", maxlength:"10" %>
        <%= render "shared/error_messages", model: @user, attribute: :nickname %>
        <p class='info-text'>※10文字以内で入力してください。</p>
      </div>
      <div class="img-upload">
        <div class="form-text-wrap">
          <label class="form-text-optional">本人画像</label>
        </div>
        <div class="click-upload">
          <p>
            クリックしてファイルをアップロード
          </p>
          <%= f.file_field :image, id:"user-image-text" %>
        </div>
        <div id="image-list">
        </div>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text-indispensable">性別</label>
        </div>
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box", id:"user-gender"}) %>
        <%= render "shared/error_messages", model: @user, attribute: :gender_id %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text-indispensable">生年月日</label>
        </div>
        <div class='input-birth-wrap'>
          <%= raw sprintf(
                      f.date_select(
                        :birth_day,
                        class:'select-birth',
                        id:"birth-date",
                        use_month_numbers: true,
                        prompt:'--',
                        start_year: 1930,
                        end_year: (Time.now.year - 5),
                        date_separator: '%s'),
                      "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
        </div>
        <%= render "shared/error_messages", model: @user, attribute: :birth_day %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text-indispensable">メールアドレス</label>
        </div>
        <%= f.email_field :email, class:"input-default", id:"email", placeholder:"あなたのメールアドレス", autofocus: true %>
        <%= render "shared/error_messages", model: @user, attribute: :email %>        
      </div>
      <div class="gray-bar">
        <div class="gray-bar-text">セキュリティ</div>
      </div>      
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text-indispensable">パスワード</label>
        </div>
        <%= f.password_field :password, class:"input-default", id:"password", placeholder:"半角英数12文字以上20文字以内",  maxlength:"20" %>
        <%= render "shared/error_messages", model: @user, attribute: :password %>
        <p class='info-text'>※半角英数12文字以上20文字以内で<br>入力してください。</p>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text-indispensable">確認用パスワード</label>
        </div>
        <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力してください" %>
        <%= render "shared/error_messages", model: @user, attribute: :password_confirmation %>
        <p class='info-text'>※個人情報から推定しやすいものは<br>お控え下さい。</p>
        <p class='info-text'>※第三者に悪用される恐れがあります。</p>
      </div>
      <div class="form-group">
        <p class='form-info-header'>
          本人確認
        </p>
        <p class='form-info-text'>本人情報は正しく入力してください。</p>
        <p class='form-info-text'>修正するにはお時間を頂く場合があります。</p>
        <p class='form-info-text'>お客様の情報は他のお客さまに公開されることはありません。</p>
        <p>
          <%= link_to '本人情報の登録について', '#', class:'register-info', id:'link' %>
        </p>
      </div>
      <div class='next-btn'>
        <%= f.submit "次へ進む" ,class:"blue-next-btn", id:"blue-btn" %>
        <p class='already-registered'>登録済みの方は<span><%= link_to 'こちら',  new_user_session_path, id:'link' %></span></p>        
      </div>
    </div>
    <div class='go-back-btn'>
      <%= link_to(root_path, class:'go-back-gray-btn', id:"gray-btn") do %>
        <p class="go-back-btn-text">もどる</p>
      <% end %>
    </div>
  </div>
<% end %>

<style>
  .left-circle {
    background-color:red;
  }
  
  .step-text-left {
    color: black;
    font-weight: bold;
  }
</style>

<%= render "shared/second_footer"%>
