<%= render "shared/second_header" %>

<%= form_with model: @questionnaire, url: questionnaires_path, class: 'registration-main', local: true do |f| %>
  <div class='form-wrap-sign-up'>
    <%= render 'shared/form_header' %>
    <div class="form-all">
      <div class="gray-bar">
        <h1 class="gray-bar-text">アンケート内容入力</h1>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">好きな本の種類を選択してください</label>
        </div>
        <%= f.collection_select(:book_category_id, BookCategory.all, :id, :name, {}, {class:"select-box", id:"user-gender"}) %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">好きな本のジャンルを選択してください</label>
        </div>
        <%= f.collection_select(:book_genre_id, BookGenre.all, :id, :name, {}, {class:"select-box", id:"user-gender"}) %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">普段どこで本を購入するか選択してください</label>
        </div>
        <%= f.collection_select(:purchase_place_id, PurchasePlace.all, :id, :name, {}, {class:"select-box", id:"user-gender"}) %>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">普段どのような媒体で本を読むか選択してください</label>
        </div>
        <%= f.collection_select(:reading_type_id, ReadingType.all, :id, :name, {}, {class:"select-box", id:"user-gender"}) %>
      </div>
      <div class='next-btn'>
        <%= f.submit "登録する" ,class:"blue-next-btn", id:"blue-btn" %>
        <p class='already-register'>登録済みの方は<span><%= link_to 'こちら',  new_user_session_path, id:'link' %></span></p>
      </div>
    </div>
    <div class='go-back-btn'>
      <%= link_to(new_user_registration_path, class:'go-back-gray-btn', id:"gray-btn") do %>
        <p class="go-back-btn-text">もどる</p>
      <% end %>
    </div>
  </div>
<% end %>

<%= render "shared/second_footer" %>