<%# 下部広告部分 %>
<div class="ad-footer-contents">
  <p class="ad-footer-explain">
    だれでもかんたん、生き方が変わる読書アプリ
  </p>
  <h2 class="ad-footer-title">
    今すぐ無料ダウンロード！
  </h2>
  <div class="store-btn">
    <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class: "apple-btn"), "#" %>
    <%= link_to image_tag("dl-android.png", class: "google-btn"), "#" %>
  </div>
</div>
<%# /下部広告部分 %>

<footer class="top-page-footer">
  <div class="footer-upper">
    <div class="bookput-details">
      <h2 class="footer-content-text">BooKPuTについて</h2>
      <ul>
        <li><%= link_to '会社概要', "#", class: "footer-link", id: 'link-text' %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link", id: 'link-text' %></li>
        <li><%= link_to 'BooKPuT利用規約', "#", class: "footer-link", id: 'link-text' %></li>
      </ul>
    </div>
    <div class="bookput-details">
      <h2 class="footer-content-text">BooKPuTを見る</h2>
      <ul>
        <li><%= link_to 'タイトル一覧', "#", class: "footer-link", id:'link-text' %></li>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link", id:'link-text' %></li>
        <li><%= link_to 'ジャンル一覧', "#", class: "footer-link", id:'link-text' %></li>
        <li><%= link_to 'キャッチコピー一覧', "#", class: "footer-link", id:'link-text' %></li>
      </ul>
    </div>
    <div class="bookput-details">
      <h2 class="footer-content-text">BooKPuTについて</h2>
      <ul>
        <li><%= link_to 'ご利用ガイド', "#", class: "footer-link", id:'link-text' %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link", id:'link-text' %></li>
        <li><%= link_to 'FAQ', "#", class: "footer-link", id:'link-text' %></li>        
      </ul>
    </div>
  </div>
  <div class="footer-lower">
    <%= link_to image_tag("bookput-logo.png", class: "footer-icon"), "/" %>
    <p class="copyright">Copyright(C) 2021, BooKPuT.com, Inc. All Rights reserved.</p>    
  </div>
</footer>