<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    だれでもかんたん、生き方が変わる読書アプリ
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
    <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
  </div>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='bookput-details'>
      <h2 class='footer-content-head'>BooKPuTについて</h2>
      <ul>
        <li><%= link_to '会社概要', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'BooKPuT利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='bookput-details'>
      <h2 class='footer-content-head'>BooKPuTを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
        <li><%= link_to 'ジャンル一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='bookput-details'>
      <h2 class='footer-content-head'>BooKPuTについて</h2>
      <ul>
        <li><%= link_to 'BooKPuTガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'BooKPuTロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <div class='footer-content-foot'>
    <%= link_to image_tag("bookput.png", class: "footer-icon"), "/" %>
    <p class='copyright'>©︎ 2021 BooKPuT</p>    
  </div>
</div>