<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <% if flash[:post] %>
    <p class='flash-post', id='flash-message'>
      <%= flash[:post] %>
    </p>
  <% elsif flash[:delete] %>
    <p class='flash-delete', id='flash-message'>
      <%= flash[:delete] %>
    </p>
  <% end %>
  <div class='search-bar-contents'>
    <div>
      <%= link_to image_tag("bookput-logo.png", class:"bookput-icon"), "/" %>
    </div>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードを入力してください'>
      <%= link_to(root_path, class:"search-button", id:"orange-btn") do %>
      <% end %>
    </form>
    <ul class='display-change'>
      <% if user_signed_in? %>
        <div class="login-condition">
          <li>ログインしています</li>
          <li class="user-nickname"><%= current_user.nickname %></li>
          <% if current_user.image.attached? %>
            <li><%= image_tag current_user.image, width: "45", height: "45", id: 'user-image' %></li>
          <% else%>
            <li><%= image_tag "no-image.png", width: "45", height: "45", id: 'user-image' %></li>
          <% end %>
        </div>
      <% else %>
        <div class="not-login-condition">
          <li>
            はじめての方はこちら
            <%= link_to(new_user_session_path, class:'sign-in-btn', id:"orange-btn") do %>
              <span class="sign-btn-text">ログイン</span>
            <% end %>
          </li>
          <li>
            <%= link_to(new_user_registration_path, class:'sign-up-btn', id:"blue-btn") do %>
              <span class="sign-btn-text">新規登録</span>
            <% end %>
          </li>
        </div>
      <% end %>
    </ul>
  </div>
  <div class='nav'>
    <ul class='search-lists'>
      <li><%= link_to 'タイトル', "/", class: "search-list", id:"list-text" %></li>
      <li><%= link_to 'カテゴリー', "/", class: "search-list", id:"list-text" %></li>
      <li><%= link_to 'ジャンル', "/", class: "search-list", id:"list-text" %></li>
      <li><%= link_to 'キャッチコピー', "/", class: "search-list", id:"list-text" %></li>
      <li><%= link_to 'お気に入り', "/", class: "search-list", id:"list-text" %></li>
    </ul>
  </div>
  <ul class="hidden-lists", id="pull-down">
    <li>
      <%= link_to(root_path, class:"my-page") do%>
        <span class="pulldown-menu-text", id="my-page-text">マイページ</span>
      <% end %>
    </li>
    <hr>
    <li>
      <%= link_to(destroy_user_session_path, class:"log-out", method: :delete, data: { confirm: 'ログアウトしますか？' }) do%>
        <span class="pulldown-menu-text", id="log-out-text">ログアウト</span>
      <% end %>
    </li>
  </ul>
</header>