<% @comments.each do |comment| %>
  <li class="each-comment">
    <div>
      <div class="comment-upper">
        <div class="comment-posted-user">
          <%= comment.user.nickname %>
        </div>
        <div class="comment-posted-time">
          <%= time_ago_in_words(comment.created_at) %>前
        </div>
      </div>
      <div class="comment-lower">
        <%= comment.text %>
      </div>
    </div>
    <div>
      <ul class="comment-detail-btn">
        <li><i class="fas fa-ellipsis-v" id='ellipsis-btn-2'></i></li>
      </ul>
      <ul class="hidden-lists-3", id="pull-down-3">
        <% if user_signed_in? && current_user.id == comment.user_id %>
          <li>
            <%= link_to(book_comment_path(comment.book.id, comment.id), class:"destroy", method: :delete, data: { confirm: "コメントを削除します。よろしいですか？" }) do %>
              <span class="pulldown-menu-text", id="destroy-text">削除</span>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to(root_path, class:"report") do %>
              <span class="pulldown-menu-text", id="report-text">報告</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </li>
<% end %>