<%= render 'shared/header' %>

<div class="main" id="page_top">
  <div class="title-contents">
    <h2 class="service-title">
      生き方が変わる読書アプリ
    </h2>
    <p class="service-explain">
      BookPutを使えば、本を読まない方でも苦手な方でも
    </p>
    <p class="service-benefit">
      読書習慣が身に付きます！
    </p>
    <p class="service-catch-copy">
      さあ、快適な読書ライフを手にしませんか？
    </p>
    <div class="store-btn">
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class: "google-btn"), "#" %>
    </div>
  </div>

  <div class="how-to-use" id="how_to_use">
    <h2 class="title">BooKPuTの使い方</h2>
    <ul class="usage-list">
      <li class="list">
        <%= image_tag "reading.png", class: "usage-image" %>
        <span class="usage-list-number">1</span>
        <h2 class="usage-list-text">読んだ本について投稿する</h2>
        <p class="usage-list-description">本の内容や、感じたことなどを</p>
        <p class="usage-list-description">思いのままに発信しましょう！</p>
      </li>
      <li class="list">
        <%= image_tag "smartphone.png", class: "usage-image" %>
        <span class="usage-list-number">2</span>
        <h2 class="usage-list-text">投稿内容を閲覧する</h2>
        <p class="usage-list-description">素敵な本と出会える場を提供します</p>
        <p class="usage-list-description">気になる本がないか探してみましょう！</p>
      </li>
    </ul>
  </div>
  <div class="book-contents" id="book_list" >
    <h2 class="title">投稿一覧</h2>
    <%= render 'index_page' %>
  </div>
  
  <div class="faq" id="faq">
    <h2 class="title">FAQ</h2>
    <ul id="faq-list">
      <li class="faq-list-item">
        <p class="question" id="question1">使用するのに、年齢制限はありますか？</p>
        <div class="answer" id="answer1">
          <p>特に年齢制限はございません。どなたでもご利用いただけます。</p>
        </div>
        <span>+</span>
      </li>
      <li class="faq-list-item">
        <p class="question" id="question2">使用料はかかりますか？</p>
        <div class="answer" id="answer2">
          <p>使用量は一切かかりません。無料でご利用いただけます。</p>
        </div>
        <span>+</span>
      </li>
      <li class="faq-list-item">
        <p class="question" id="question3">自分の読んでいる本について投稿したいのですが、<br>上手く言語化できません。</p>
        <div class="answer" id="answer3">
          <p>完璧に伝える必要はありません。感想や内容などを自分の言葉で書くことで伝わります。箇条書きでも構いません。</p>
        </div>
        <span>+</span>
      </li>
    </ul>
  </div>
</div>
<% if user_signed_in? %>
  <%= link_to(new_book_path, class: "post-btn", id: 'orange-btn' ) do %>
    <span class="post-btn-text">投稿する</span>
  <% end %>
<% end %>

<%= render 'shared/footer' %>