<%= render "shared/header" %>
<div class='main'>
  <div class='title-contents'>
    <h2 class='service-title'>
      人生が変わるアプリ
    </h2>
    <p class='service-explain'>
      BookPutは、読書習慣が身に付く
    </p>
    <p class='service-explain'>
      読書アプリです
    </p>
    <p class='service-cath_copy'>
      さあ、快適な読書ライフを手にしませんか？
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <div class='book-contents'>
    <h2 class='title'>投稿一覧</h2>
    <ul class='book-lists'>
      <%= image_tag "apology_man.png", class: "img" %>
    </ul>
    <p class='no-post-sentence'>投稿はありません</p>
  </div>
</div>
<%= link_to(root_path, class: 'post-btn') do %>
  <span class='post-btn-text'>投稿する</span>
<% end %>

<%= render "shared/footer"%>