<% if flash[:update] %>
  <p class='flash-update', id='flash-message'>
    <%= flash[:update] %>
  </p>
<% elsif flash[:delete] %>
  <p class='flash-delete', id='flash-message'>
    <%= flash[:delete] %>
  </p>
<% end %>
<%= render 'shared/second_header' %>

<div class='book-detail-main'>
  <div class='book-detail'>
    <div class='detail-header'>
      <h1 class='detail-header-text'>
        投稿詳細
      </h1>
    </div>
    <div class='detail-all'>
      <div class='detail-time'>
        <%= @book.created_at.to_s(:datetime_jp) %>
      </div>
      <h1 class='detail-title'>
        <%= @book.title %>
      </h1>
      <h1 class='detail-user'>
        <% if user_signed_in? && current_user.id == @book.user_id %>
          by <span><%= link_to @book.user.nickname, '#', class:'detail-user-text', id:'user-text' %></span>
        <% else %>
          by <span><%= @book.user.nickname %></span>
        <% end %>
      </h1>
      <ul class='font-btns'>
        <li><i class="fas fa-thumbs-up"  id='good-btn'></i></li>
        <li><i class="far fa-heart"      id='favorite-btn'></i></li>
        <li><i class="fas fa-ellipsis-h" id='ellipsis-btn'></i></li>
      </ul>
      <ul class="hidden-lists-2", id="pull-down-2">
        <% if user_signed_in? && current_user.id == @book.user_id %>
          <li>
            <%= link_to(edit_book_path(@book.id), class:"edit") do %>
              <span class="pulldown-menu-text", id="edit-text">編集</span>
            <% end %>
          </li>
          <hr>
          <li>
            <%= link_to(book_path(@book.id), class:"destroy", method: :delete, data: { confirm: "投稿を削除します。よろしいですか？" }) do %>
              <span class="pulldown-menu-text", id="destroy-text">削除</span>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to(root_path, class:"report") do%>
              <span class="pulldown-menu-text", id="report-text">報告</span>
            <% end %>
          </li>
        <% end %>
      </ul>
      <div class='detail-img-content'>
        <%= image_tag @book.image, class: "detail-img" %>
      </div>
      <div class='detail-category-genre'>
        <%= @book.category.name %>・<%= @book.genre.name %>
      </div>
      <h1 class='detail-catch-copy'>
        「<%= @book.catch_copy %>」
      </h1>
      <div class='detail-content'>
        <%= @book.content %>
      </div>
      <% if @book.highlight.present? %>
        <div class='detail-highlight'>
          <%= @book.highlight %>
        </div>
      <% end %>
      <div class='go-back-btn'>
        <%= link_to(root_path, class:'go-back-gray-btn', id:"gray-btn") do %>
          <p class="go-back-btn-text">もどる</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class='book-comments'>
    <% if user_signed_in? %>
      <%= form_with model: [@book, @comment], class: "comment-main", local: true do |f| %>
        <div class="comment-user">
          <%= link_to current_user.nickname, '#', class:'comment-user-text', id:'user-text' %>
        </div>
        <div class="comment-field">
          <%= f.text_field :text, class:'comment-field-text', maxlength: "100", placeholder: "100文字以内で入力してください" %>
          <p class='comment-caution-text'>※批判的な意見はご遠慮ください</p>
        </div>
        <div class="comment-btn">
          <%= f.submit "コメント" ,class:"comment-yellow-btn", id:"yellow-btn" %>
        </div>
      <% end %>
    <% end %>
    <ul class="comments-lists">
      <% if @comments.present? %>
        <div class="comments-number">
          <%= @comments.length %>件のコメント
        </div>
        <% @comments.each do |comment| %>
          <li class="comments-list">
            <div class="comment-left">
              <div class="comment-upper">
                <div class="comment-posted-user-text">
                  <%= comment.user.nickname %>
                </div>
                <div class="comment-posted-time">
                  <%= time_ago_in_words(comment.created_at) %>前
                </div>
              </div>
              <div class="comment-lower">
                <%= comment.text %>
              </div>
            </div>
            <div class="comment-right">
              <ul class="comment-detail-btn">
                <li><i class="fas fa-ellipsis-v" id='ellipsis-btn'></i></li>
              </ul>
              <ul class="hidden-lists-3", id="pull-down-2">
                <% if user_signed_in? && current_user.id == comment.user_id %>
                  <li>
                    <%= link_to(book_comment_path(comment.book.id, comment.id), class:"destroy", method: :delete, data: { confirm: "コメントを削除します。よろしいですか？" }) do %>
                      <span class="pulldown-menu-text", id="destroy-text">削除</span>
                    <% end %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to(root_path, class:"report") do %>
                      <span class="pulldown-menu-text", id="report-text">報告</span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </li>
        <% end %>
      <% else %>
        <div class="comments-number">
          コメントはありません
        </div>
      <% end %>
    </ul>
  </div>
</div>

<%= render 'shared/second_footer' %>